.1strow{
	height: 10em;
	width: 10em;
	padding: 150px;
	border:1px solid black;
}

.2ndrow{
	padding: 150px;
	height: 10em;
	width: 10em;
	border:1px solid black;
}

.3rdrow{
	padding: 150px;
	height: 10em;
	width: 10em;
	border:1px solid black;
}